html {
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

body {
	background-color: seablue;
}

.jumbotron {
	width: 100%;
	text-align: center;
	color: white;
	background-color: lightblue;
	/*background-position: top center;
	background-repeat: no-repeat;
	background-size: all;*/
}

.jumbotron h1 {
	font-size: 42pt;
}

.jumbotron h4 {
	font-size: 28pt;
}

/* Contact form */
label {
	letter-spacing: .75px;
}